* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primaryColor: #ffffff;
  --secondaryColor:  #e4e4eb;
  --blueColor: #4747d1;
  --darkBlueColor:  #000033;
  --mainBorderRadius: 5px;
  --mainGap: 15px;
  --mainTransition: all .3s linear;
}

body {
  width: 100%;
  height: 100%;
}

.container {
  width: 100%;
  height: 100vh;
  background-color: var(--secondaryColor);
}

.header {
  display: flex;
  align-items: center;
  height: 70px;
  color: var(--primaryColor);
  background-color: var(--blueColor);
  box-shadow: 0px 3px 20px -2px var(--darkBlueColor);
}

.header h1 {
  text-transform: uppercase;
  letter-spacing: 1px;
}

.content {
  display: flex;
  gap: var(--mainGap);
  height: calc(100vh - 100px);
  margin: 15px;
}

.task--box {
  width: 50%;
  background-color: var(--primaryColor);
  border-radius: var(--mainBorderRadius);
  padding: 15px;
}

.task--box__header {
  margin-bottom: 15px;
}

.task--box:hover {
  box-shadow: 0px 5px 14px -6px var(--darkBlueColor);
}

.task--card {
  display: flex;
  flex: 1;
  background-color: coral;
}

.task--item__details {
  background-color: chartreuse;
}

.box--container {
  display: flex;
  flex-direction: column;
  gap: var(--mainGap);
  height: calc(100% - 30px);
  overflow-y: scroll;
}

.task--card {
  border: 1px solid var(--blueColor);
  border-radius: var(--mainBorderRadius);
  height: 10rem;
  padding: 10px;
}

.form--item {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.form--item label {
  margin-bottom: 5px;
  color: var(--blueColor);
  font-size: 18px;
}

.form--item input {
  outline: none;
  border: none;
  border-bottom: 1px solid var(--blueColor);
  color: var(--darkBlueColor);
  padding: 0 0 5px 10px;
  font-size: 12px;
}

.form--item textarea {
  outline: none;
  border: none;
  border-bottom: 1px solid var(--blueColor);
  color: var(--darkBlueColor);
  padding: 0 0 5px 10px;
  font-size: 12px;
}

.form--item__radio {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--mainGap);
}

.btn--container {
  display: flex;
  gap: var(--mainGap);
}

.btn--container button {
  padding: 5px 20px;
  cursor: pointer;
  background-color: var(--blueColor);
  outline: none;
  border: none;
  color: var(--primaryColor);
  font-size: 16px;
  border-radius: 3px;
  transition: var(--mainTransition);
}

.btn--container button:hover {
  background-color: transparent;
  color: var(--blueColor);
  border: 1px solid var(--blueColor);
}




